{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :extra-paths ["test"]
   :exec-fn kaocha.runner/exec-fn
   :exec-args {:tests [{:type :kaocha.type/clojure.test
                        :id :unit
                        :test-paths ["test"]
                        :source-paths ["src"]}]
               :reporter [kaocha.report/documentation]
               :fail-fast? false}}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}
          io.github.slipset/deps-deploy {:git/sha "07022b92d768590ab25b9ceb619ef17d2922da9a"}}
   :ns-default build}

  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "7c8bef54eda28367193ec433af01bb940114f012"}}
   :exec-fn quickdoc.api/quickdoc
   :exec-args {:github/repo "https://github.com/mpenet/appia"
               :git/branch "main"
               :var-links true}}}}
